name: Build

on:
  push:
    branches:
    - main
    - 'release/**'
    - 'dev/**'
  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      CI: true
      NATS_SERVER_VERSION: ${{ matrix.nats_version }}
      SKIP_RAILS: true
    strategy:
      fail-fast: false
      matrix:
        nats_version: ["v2.10.25"]
        ruby: ["3.0", "3.1", "3.2", "3.3", "3.4"]
        include:
        - nats_version: main
          ruby: "3.2"
          continue-on-error: true

    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run RSpec
      env:
        DEBUG_NATS_TEST: ${{ runner.debug }}
      run: |
        bundle exec rspec --force-color

  rspec-rails:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      CI: true
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.3"]
        gemfile: ["gemfiles/rails7.gemfile"]
        include:
        - ruby: "3.0"
          gemfile: "gemfiles/rails6.gemfile"
        - ruby: "3.4"
          gemfile: "gemfiles/railsmain.gemfile"
        - ruby: "3.3"
          gemfile: "gemfiles/rails8.gemfile"
    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run RSpec
      run: |
        bundle exec rspec --tag rails --force-color
